.container {
  max-width: 1200px; /* Lebar maksimum kontainer */
  margin: 0 auto;
}

h2 {
  font-size: 44px; /* Ukuran font untuk nama produk */
  font-weight: bold;
  color: #333;
}
h4 {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
}
h5 {
  font-size: 22px !important; /* Ukuran font untuk range harga */
  color: #555555;
  padding: 10px 0;
  font-weight: bold;
}

h6 {
  font-size: 18px;
  padding: 10px 0;
}

/* Styling Card */
.card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 30px 0;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.justified-text {
  text-align: justify;
}
/* Styling Card Image */
.card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: opacity 0.3s ease-in-out;
}

.card img:hover {
  opacity: 0.9;
}

/* Placeholder jika gambar tidak ada */
.placeholder {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #aaa;
  background-color: #f8f9fa;
  border-radius: 12px;
}

/* Tambahan jarak antara gambar dan teks */
.col-md-6:first-child {
  margin-bottom: 20px; /* Jarak antara gambar dan teks */
}

/* Style untuk alamat usaha */
.card {
  border: none;
  border-radius: 10px; /* Sudut melingkar pada kartu */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Kontainer utama untuk kontak */
.contact-produk {
  text-align: left; /* Rata kiri */
  margin-bottom: 20px; /* Tambahkan jarak bawah */
}
/* General Styling */
.product-insta,
.product-contact {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.product-insta:hover {
  color: #e4405f; /* Warna merah khas Instagram saat hover */
}
.product-contact:hover {
  color: #25d366;
}

/* Link Styling */
.product-link {
  font-weight: bold;
  text-decoration: none;
  color: inherit; /* Menggunakan warna default dari parent */
  margin-left: 8px;
  transition: color 0.3s ease-in-out;
}

.product-link:hover {
  color: #e4405f; /* Warna khas Instagram saat hover */
}

/* WhatsApp Styling */
.product-contact .fa-phone {
  font-size: 1.2rem;
  color: #25d366; /* Warna hijau khas WhatsApp */
  transition: color 0.3s ease-in-out;
}

.product-contact:hover .fa-phone {
  color: #128c7e;
}

/* Instagram Styling */
.product-insta .me-2 {
  font-size: 1.5rem;
  color: #e4405f; /* Warna merah khas Instagram */
  transition: color 0.3s ease-in-out;
}

.product-insta:hover .me-2 {
  color: #c13584; /* Warna ungu khas Instagram saat hover */
}

/* Responsif */
@media (max-width: 768px) {
  .product-link-container,
  .product-contact {
    font-size: 14px;
  }

  .product-link-container .me-2,
  .product-contact .fa-phone {
    font-size: 1rem;
  }
}

/* Gaya untuk setiap paragraf dalam kontak */
.contact-produk p {
  margin: 5px 0; /* Jarak vertikal antar elemen */
  display: flex; /* Agar ikon dan teks sejajar secara horizontal */
  align-items: center;
}

/* Gaya untuk judul */
.contact-produk h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px; /* Tambahkan jarak bawah */
  color: #000; /* Warna teks hitam */
}

/* Hover efek pada tautan */
.product-link:hover {
  color: #0056b3; /* Warna biru lebih gelap */
  text-decoration: none; /* Tampilkan garis bawah saat hover */
}

.map-frame {
  border: none; /* Menghilangkan border pada iframe */
  border-radius: 10px; /* Sudut melingkar pada peta */
}

/* Padding tambahan di bawah map */
.padding-footer {
  padding: 40px 0; /* Padding atas dan bawah sebelum footer */
}
/* Responsive layout untuk layar kecil (maksimal 576px) */
@media (max-width: 576px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  h2 {
    font-size: 24px; /* Ukuran font untuk nama produk lebih kecil */
  }

  h5 {
    font-size: 16px; /* Ukuran font untuk range harga lebih kecil */
  }

  h4 {
    font-size: 20px; /* Ukuran font untuk judul alamat usaha lebih kecil */
  }

  .geometric-loader {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff6347;
    animation: circleAnimation 1.5s ease-in-out infinite;
  }

  .circle:nth-child(1) {
    animation-delay: 0s;
  }

  .circle:nth-child(2) {
    animation-delay: 0.3s;
  }

  .circle:nth-child(3) {
    animation-delay: 0.6s;
  }

  @keyframes circleAnimation {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  .loading-text {
    font-size: 3rem;
    font-weight: bold;
    color: #27292b;
    animation: fadeInText 2s ease-in-out infinite,
      slideUp 1.5s ease-out infinite;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }

  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .product-description {
    font-size: 14px; /* Ukuran font untuk deskripsi lebih kecil */
    line-height: 1.2;
  }

  .image-card img {
    height: 300px; /* Sesuaikan tinggi gambar */
    width: 100%;
    margin-left: 25px;
  }

  .col-md-6:first-child {
    margin-bottom: 20px; /* Menambahkan jarak antara gambar dan teks */
  }

  .contact-produk h6 {
    font-size: 14px; /* Ukuran font untuk kontak lebih kecil */
  }

  .contact-produk a {
    font-size: 14px; /* Ukuran font untuk tautan kontak lebih kecil */
  }

  .contact-produk a svg {
    font-size: 1em; /* Ukuran ikon kontak lebih kecil */
  }

  .map-frame {
    height: 300px; /* Sesuaikan tinggi iframe peta */
  }

  .padding-footer {
    padding: 20px 0; /* Mengurangi padding footer */
  }
}

/* Responsive layout untuk layar lebih besar (max-width: 768px, untuk tablet) */
@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    font-size: 30px; /* Ukuran font untuk nama produk lebih kecil untuk tablet */
  }

  h5 {
    font-size: 18px; /* Ukuran font untuk range harga sedikit lebih kecil */
  }

  h4 {
    font-size: 22px; /* Ukuran font untuk alamat usaha sedikit lebih kecil */
  }

  .product-description {
    font-size: 15px; /* Ukuran font untuk deskripsi sedikit lebih kecil */
    line-height: 1.5;
  }

  .image-card img {
    height: 300px; /* Sesuaikan tinggi gambar untuk tablet */
  }

  .col-md-6:first-child {
    margin-bottom: 20px; /* Jarak antara gambar dan teks */
  }

  .contact-produk h6 {
    font-size: 16px; /* Ukuran font untuk kontak sedikit lebih besar */
  }

  .contact-produk a {
    font-size: 16px; /* Ukuran font untuk tautan kontak sedikit lebih besar */
  }

  .contact-produk a svg {
    font-size: 1.1em; /* Ukuran ikon kontak sedikit lebih besar */
  }

  .map-frame {
    height: 350px; /* Sesuaikan tinggi iframe peta untuk tablet */
  }

  .padding-footer {
    padding: 30px 0; /* Padding sedikit lebih besar untuk tablet */
  }
}

/* Responsif untuk ukuran layar kecil */
@media (max-width: 576px) {
  .product-link-container {
    font-size: 14px;
  }

  .product-link-container .me-2 {
    font-size: 1rem;
  }
}

/* Responsive layout untuk layar besar (>768px) */
@media (min-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  h2 {
    font-size: 42px; /* Ukuran font untuk nama produk lebih besar */
  }

  h5 {
    font-size: 28px; /* Ukuran font untuk range harga lebih besar */
  }

  .product-description {
    font-size: 16px; /* Ukuran font untuk deskripsi tetap */
  }

  .image-card img {
    height: 350px; /* Tinggi gambar standar */
  }

  .col-md-6:first-child {
    margin-bottom: 30px; /* Jarak antara gambar dan teks lebih besar */
  }

  .map-frame {
    height: 400px; /* Ukuran iframe peta untuk layar besar */
  }

  .padding-footer {
    padding: 40px 0; /* Padding standar untuk footer */
  }
}
